@model OPSCO_Web.Models.OSC_Representative
@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" href="~/Content/Callout.css" />
<h3>Representative</h3>
<div>
    <h4>Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Representative", null)" class="btn btn-default btn-sm">
                    <i class="fa fa-chevron-left"></i> Back to List
                </a>
                @if (ViewBag.CanEdit)
                {
                    <a href="@Url.Action("Edit", "Representative", new { id = Model.RepId } )" class="btn btn-default btn-sm">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Edit", "Representative", new { id = Model.RepId } )" class="btn btn-default btn-sm disabled">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                }
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <ul class="nav nav-pills btn-xs">
            <li role="presentation" class="active">
                <a href="#tab_basic" aria-controls="tab_basic" role="tab" data-toggle="tab">Basic Info</a>
            </li>
            <li role="presentation">
                <a href="#tab_adv" aria-controls="tab_adv" role="tab" data-toggle="tab">Advanced Info</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab_basic">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <table class="table coverbg table-condensed table-striped table-hover input-sm">
                            <tbody>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.FirstName)
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.LastName)
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MiddleName)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.MiddleName)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Team.TeamName)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Team.TeamName)
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CoreRole.CoreRole)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.CoreRole.CoreRole)
                                    </td>
                                    <th>&nbsp;</th><td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PRDUserId)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.PRDUserId)
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AIQUserId)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.AIQUserId)
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BIUserId)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.BIUserId)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.StartDate)
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EndDate)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.EndDate)
                                    </td>
                                    <td colspan="2"></td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Location.Location)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.Location.Location)
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OnShoreRep)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.OnShoreRep)
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PhoneRep)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.PhoneRep)
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsVPN)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.IsVPN)
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.WorkHours)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.WorkHours)
                                    </td>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsCurrent)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.IsCurrent)
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HasPrevious)
                                    </th>
                                    <td>
                                        @Html.DisplayFor(model => model.HasPrevious)
                                    </td>
                                    @if ((bool)Model.HasPrevious)
                                    {
                                        <td colspan="2">
                                            <a class="btn btn-primary btn-sm" href="@Url.Action("Details", new { id = Model.PreviousId })">
                                                <i class="fa fa-backward"></i> Previous Record
                                            </a>
                                        </td>
                                    }
                                    else {
                                        <td colspan="2">&nbsp;</td> 
                                    }
                                </tr>
                            @if (Session["role"].ToString() == "Admin")
                            {
                                <tr>
                                    <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                    </th>
                                    <td>
                                    @Html.DisplayFor(model => model.IsActive)
                                    </td>
                                    <td colspan="4"></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab_adv">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-4 pull-right">
                                                <select class="form-control input-sm" id="cmb_year_custom">
                                                    <option value="0">--Select Year--</option>
                                                    @foreach (var x in ViewBag.Years)
                                                    {
                                                        <option value="@x.Value">@x.Text</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-4 pull-right">
                                                <select class="form-control input-sm" id="cmb_month_custom">
                                                    <option value="0">--Select Month--</option>
                                                    @foreach (var x in ViewBag.Months)
                                                    {
                                                        <option value="@x.Value">@x.Text</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="container-fluid" id="advinfo_container" style="max-height: 350px; overflow-y: auto;">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul class="nav nav-pills nav-stacked btn-xs">
                                        <li role="presentation" class="active">
                                            <a href="#tab_biprod" aria-controls="tab_biprod" role="tab" data-toggle="tab">BI Productivity</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#tab_biqual" aria-controls="tab_biqual" role="tab" data-toggle="tab">BI Quality</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#tab_aiq" aria-controls="tab_aiq" role="tab" data-toggle="tab">AIQ</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#tab_activities" aria-controls="tab_activities" role="tab" data-toggle="tab">Activities</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#tab_npt" aria-controls="tab_npt" role="tab" data-toggle="tab">NPT</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#tab_manual" aria-controls="tab_manual" role="tab" data-toggle="tab">Manual Entries</a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#tab_comments" aria-controls="tab_comments" role="tab" data-toggle="tab">Highlights</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="tab_biprod">
                                            <div class="bs-callout bs-callout-primary">

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab_biqual">
                                            <div class="bs-callout bs-callout-primary">

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab_aiq">
                                            <div class="bs-callout bs-callout-primary">

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab_activities">
                                            <div class="bs-callout bs-callout-primary">

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab_npt">
                                            <div class="bs-callout bs-callout-primary">

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab_manual">
                                            <div class="bs-callout bs-callout-primary">

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab_comments">
                                            <div class="bs-callout bs-callout-primary">
                                                <textarea class="form-control input-sm" rows="10" placeholder="Enter your comments..."></textarea>
                                                <br />
                                                <div class="btn-group pull-right">
                                                    <a id="btn_save_comment" href="#" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
<script>
    $(function () {

    });
    function getScorecardDetails() {
        $.ajax({
            url: '/Team/GetScorecardDetails/',
            data: '{ id : ' + @Model.RepId +'}',
            dataType: "json",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (index, item) {
                    $('#teamNptCategory').append('<li id="' + item.CategoryId  + '" class="ui-state-default"><a href="#" title="' + item.CategoryDesc + '">' + item.CategoryDesc + '</a></li>');
                });
            },
            error: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>