<h4>Worktype Summary @ViewBag.Month-@ViewBag.Year</h4>
<div class="col-md-12 table-responsive">
    <table class="table coverbg table-striped table-bordered input-sm">
        <thead>
            <tr>
                <th>Worktype</th>
                <th>Total Items Processed</th>
                <th>Total Items Selected</th>
                <th>% Selected for QC</th>
                <th>Total Items Reviewed</th>
                <th>% Selected QC'd</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.WorktypeSummary)
            {
                <tr>
                    <td>@item.Worktype</td>
                    <td>@item.TotalItemsProcess</td>
                    <td>@item.TotalItemsSelected</td>
                    <td>@item.PercSelectedforQC%</td>
                    <td>@item.TotalItemsReviewed</td>
                    <td>@item.PercSelectedQCd%</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.Action("WorktypeSummaryComment")