<div class="col-md-12">
    @Html.Action("ScorecardCover")
</div>
<br /><hr /><br />
<div class="col-md-12">
    @Html.Action("ScorecardMainTable")
</div>
<br />
<div class="col-md-6">
    @Html.Action("ScorecardProductivityChart")
</div>
<br />
<div class="col-md-6">
    @Html.Action("ScorecardNptChart")
</div>
<br />
<div class="col-md-6">
    @Html.Action("ScorecardHighlights")
</div>
<br />