@model IEnumerable<OPSCO_Web.Models.IndividualScorecard>
<div class="row">
    <div class="col-md-12">
        <table class="table coverbg table-bordered table-condensed table-striped input-sm">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Month)</th>
                    <th>@Html.DisplayNameFor(model => model.ProductivityRating)</th>
                    <th>@Html.DisplayNameFor(model => model.QualityRating)</th>
                    <th>@Html.DisplayNameFor(model => model.TotalUtilization)</th>
                    <th>@Html.DisplayNameFor(model => model.Efficiency)</th>
                    <th>@Html.DisplayNameFor(model => model.individualBIProd.Count)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.MonthName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductivityRating)</td>
                    <td>@Html.DisplayFor(modelItem => item.QualityRating)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalUtilization)</td>
                    <td>@Html.DisplayFor(modelItem => item.Efficiency)</td>
                    <td>@Html.DisplayFor(modelItem => item.individualBIProd.Count)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>