@model OPSCO_Web.Models.OSC_Team
@{
    ViewBag.Title = "Settings";
}
<h3>Team</h3>
<div>
    <h4>Settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group">
                <a href="@Url.Action("Index", "Team", null)" class="btn btn-default btn-sm">
                    <i class="fa fa-chevron-left"></i> Back to List
                </a>
                <a href="@Url.Action("Details", "Team", new { id = Model.TeamId} )" class="btn btn-default btn-sm">
                    <i class="fa fa-info-circle"></i> Back to Details
                </a>
                <a href="@Url.Action("Edit", "Team", new { id = Model.TeamId } )" class="btn btn-default btn-sm">
                    <i class="fa fa-edit"></i> Edit
                </a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <ul class="nav nav-pills btn-xs">
            <li role="presentation" class="active">
                <a href="#tab_groupids" aria-controls="tab_groupids" role="tab" data-toggle="tab">Group Ids</a>
            </li>
            <li role="presentation">
                <a href="#tab_timings" aria-controls="tab_timings" role="tab" data-toggle="tab">Timings</a>
            </li>
            <li role="presentation">
                <a href="#tab_nptcategories" aria-controls="tab_nptcategories" role="tab" data-toggle="tab">NPT Categories</a>
            </li>
            <li role="presentation">
                <a href="#tab_customscorecard" aria-controls="tab_customscorecard" role="tab" data-toggle="tab">Customize Scorecard</a>
            </li>
            <li role="presentation">
                <a href="#tab_teamgoal" aria-controls="tab_teamgoal" role="tab" data-toggle="tab">Team Goal</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab_groupids">
            @Html.Action("GroupIdSection", "Team", new { id = Model.TeamId })
        </div>
        <div class="tab-pane fade" id="tab_timings">
            @Html.Action("TimingsSection", "Team", new { id = Model.TeamId })
        </div>
        <div class="tab-pane fade" id="tab_nptcategories">
            @Html.Action("NptCategorySection", "Team", new { id = Model.TeamId })
        </div>
        <div class="tab-pane fade" id="tab_customscorecard">
            @Html.Action("CustomizeScorecardSection", "Team", new { id = Model.TeamId })
        </div>
        <div class="tab-pane fade" id="tab_teamgoal">
            @Html.Action("TeamGoalSection", "Team", new { id = Model.TeamId })
        </div>
    </div>
</div>
