@model OPSCO_Web.Models.OSC_ManualEntry

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OSC_ManualEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GainLossOccurances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GainLossOccurances)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GainLossAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GainLossAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallManagementScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallManagementScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectResponsibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectResponsibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduleAdherence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleAdherence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compliance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compliance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductAccuracy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductAccuracy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commitment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commitment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JHValues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JHValues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallEfficiency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallEfficiency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Engagement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Engagement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdministrativeProcedures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdministrativeProcedures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUploaded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUploaded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveProjects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveProjects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompletedProjects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompletedProjects)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
